* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
  }

.calendar {
    display: grid;
    grid-template-areas: 
    "empty    planes"
    "time contents";
    grid-template-columns: 120px;
    grid-template-rows: 60px;
    width: 95vw;
    height: 95vh;
    margin: 0 auto;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.20);
}

.empty {
    display: grid;
    grid-area: empty;
    border-top: 1px solid rgba(0, 0, 0, 0.25);
    border-left: 1px solid rgba(0, 0, 0, 0.25);
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}
